.history-detail-mod {
    .head-mod {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #aaa;
        background-color: #000;
        color: #ccc;
    }

    .content-mod {
        color: #ccc;
        position: absolute;
        width: 96%;
        left: 2%;
        top: 4rem;
        bottom: 1rem;
        overflow-y: scroll;
        
        .content-left {
            margin-top: 1rem;
            float: left;
            width: 45%;
        }

        .content-right {
            margin-top: 1rem;
            float: right;
            width: 50%;
        }

        table,
        td,
        th {
            border: 1px solid #aaa;
            text-align: center;
            padding: 0 !important;
            font-size: 0.8rem;
        }

        table {
            border-collapse: collapse;
        }

        th {
            padding: 0.5rem !important;
            font-weight: normal;
        }

        .symbol {
            width: 100%;
            padding-bottom: 100%;

            &.symbol-empty {
                width: 33%;
                padding-bottom: 33%;
                background-color: #1677ff;
                border-radius: 100%;
            }
        }
    }

    .close-icon {
        &:before,
        &:after {
            background: #ccc;
        }
    }
}

@media only screen and (max-width: 767px) {
    .history-detail-mod {
        .content-left {
            width: 100%!important;
        }

        .content-right {
            width: 100%!important;
        }
    }
}