.history-detail-mod {
    .head-mod {
        text-align: center;
        padding: 1rem 0;
        border-bottom:  1px solid #aaa;
        background-color: #000;
        color: #ccc;
    }

    .content-mod {
        padding: 0 1rem;
        color: #ccc;
        table,
        td,
        th {
            border: 1px solid #aaa;
            text-align: left;
            padding: 0 !important;
            font-size: 0.8rem;
        }

        table {
            border-collapse: collapse;
        }

        th {
            padding: 0.5rem !important;
            font-weight: normal;
        }

        .content-top {
            padding-top: 1rem;

            table {
                width: 100%;
            }

            th {
                text-align: center !important;
            }
        }

        .content-bottom {
            padding-top: 1rem;

            .content-left {
                float: left;
            }

            .content-right {
                float: right;
            }
        }

        .symbol {
            width: 2rem;
            height: 2rem;
            background-size: contain;
            background-position: 50%;
        }
    }

    .close-icon {

        &:before,
        &:after {
            background: #ccc;
        }
    }
}