body {	
  background-color: #101825;
}

#stage {
	-webkit-box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.8);
}

#appbg {
  background-size: cover;
}