$langs: cs en id kr kh th vn jp;
$infoPage: 0 1 2;

* {
    font-family: "Roboto";
}

@each $i in $infoPage {
    @each $j in $langs {
        .info-#{$i}-#{$j}-p {
            background-image: url('../assets/info/#{$j}/l-#{$i}@1x.png');
        }
    }
}

//
$symbols: 0 1 2 3 4 5 6 7 8;
@each $symbol in $symbols {
    .symbol-#{$symbol} {
        &.png {
            background-image: url('../assets/resource/compress/symbol/#{$symbol}.png');
        }
        &.avif {
            background-image: url('../assets/resource/compress/symbol/#{$symbol}.avif');
        }
        &.webp {
            background-image: url('../assets/resource/compress/symbol/#{$symbol}.webp');
        }
    }
}


.page-mod-auto-spin {
    bottom: 0 !important;
}

.select-amount-box-mod {
    .slide-loop-mod {
        .selected {
            color: #F58FBF!important;
        }
    }
}