.info-bar-mod {
    position: absolute;
    width: 90%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.72);
    padding: 0 5%;
    .list {
        padding: 0.5rem 0;
        .item {
            display: inline-block;
            text-align: center;
            .icon {
                width: 1.4rem;
                height: 1.4rem;
                &.username {
                    background-image: url('../../assets/src/icons/item/icon-username.png')
                }
                &.time {
                    background-image: url('../../assets/src/icons/item/icon-time.png')
                }
                &.bet {
                    background-image: url('../../assets/src/icons/item/icon-total-bet.png')
                }
                &.win {
                    background-image: url('../../assets/src/icons/item/icon-win.png')
                }
                &.balance {
                    background-image: url('../../assets/src/icons/item/icon-balance.png')
                }
            }
            .detail {
                display: inline-block;
                text-align: left;
                margin-left: 0.5rem;
                font-size: 0.8rem;
                .value {
                    color: white;
                }
                .description {
                    color: #eeeeee;
                }
            }
        }
    }
}