* {
    user-select: none;
}

html {
    font-size: 20px;
}

html,
body,
canvas,
ul,
li {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #000;
    font-family: 'NunitoSans', Fallback, sans-serif;
}

input {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.app-mod {
    position: absolute;
}

.game-context-mod {
    position: absolute;
    width: 100%;
    height: 100%;
}

.icon-mod {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.btn-mod {
    cursor: pointer;
}

.page-mod {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.33%;
}

.w-50 {
    width: 50%;
}

.dn {
    display: none;
}

.db {
    display: block;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.close-icon {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    &:before, &:after {
        content: '';
        position: absolute;
        height: 0.15rem;
        width: 100%;
        top: 50%;
        background: #ffffff;
    }
}

.arrow-icon {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 0.15rem;
        width: 50%;
        top: 50%;
        background: #ffffff;
    }
    &.down {
        &:before {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            left: 41.5%;
        }
        &:after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            right: 41.5%;
        }
    }
    &.up {
        &:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 41.5%;
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 41.5%;
        }
    }
}

